$cardWidth : 100px;
$cardHeight : 100px;

.card{
  width: $cardWidth;
  height: $cardHeight;
  border-radius: 7px;
  margin: 14px;
}

.hidden{
  background-color: #0d3977;
}

// Notre image comporte 18 fruits d'une taille de 100x100px, le principe va être de créer une classe fruit-x qui
@for $i from 0 through 17{
  .item-#{$i}{
    background-image: url("../image/cards.png");
    background-position-y: $i * $cardHeight;
  }
}

.success{
  opacity: 80%;
  transition: opacity 0.5s ease;
  animation: shakeAnimation 0.5s ease;
}

@keyframes shakeAnimation {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}
